<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="wuxian.me.xueqiuspider.mapper.ZhiboMapper">

    <update id="createNewTableIfNeed" parameterType="wuxian.me.xueqiuspider.model.Zhibo">
        create table if not exists ${tableName} (zhibo_id BIGINT
        ,text VARCHAR(512),mark INT ,target VARCHAR(64)
        ,create_at BIGINT,view_count INT
        ,created BIGINT,updated BIGINT, PRIMARY KEY (zhibo_id))
        DEFAULT CHARSET = utf8,
        ENGINE = InnoDB;
    </update>

    <insert id="insertZhibo" parameterType="wuxian.me.xueqiuspider.model.Zhibo">

    </insert>

</mapper>