<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="wuxian.me.xueqiuspider.mapper.ZhiboMapper">

    <update id="createNewTableIfNeed" parameterType="wuxian.me.xueqiuspider.model.Zhibo">
        create table if not exists ${tableName} (zhibo_id BIGINT
        ,text VARCHAR(512),mark INT ,target VARCHAR(64)
        ,created_at BIGINT,view_count INT
        ,created BIGINT,updated BIGINT, PRIMARY KEY (zhibo_id))
        DEFAULT CHARSET = utf8,
        ENGINE = InnoDB;
    </update>

    <insert id="insertZhibo" parameterType="wuxian.me.xueqiuspider.model.Zhibo">
        insert into ${tableName} (zhibo_id,text,mark,target,created_at,view_count
        ,created,updated)
        values (#{id},#{text},#{mark},#{target},#{created_at},#{view_count}
        ,#{created},#{updated});
    </insert>

    <resultMap id="zhiboMap" type="wuxian.me.xueqiuspider.model.Zhibo">
        <id property="id" column="zhibo_id"/>
        <result property="text" column="text"/>
        <result property="mark" column="mark"/>
        <result property="target" column="target"/>
        <result property="view_count" column="view_count"/>
        <result property="created" column="created"/>
        <result property="updated" column="updated"/>
    </resultMap>

    <select id="loadZhibo" resultMap="zhiboMap" parameterType="wuxian.me.xueqiuspider.model.Zhibo">
        select * from ${tableName}
    </select>

</mapper>