<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="wuxian.me.zhihuspider.mapper.Voteup">

    <update id="createNewTableIfNeed" parameterType="wuxian.me.zhihuspider.model.VoteupModel">
        create table if not exists ${tableName} (id BIGINT AUTO_INCREMENT
        ,actionType TINYINT,question_id BIGINT,answer_id BIGINT,article_id BIGINT
        ,authorUrl VARCHAR(64) comment 'https://www.zhihu.com/people/',title VARCHAR(96)
        ,thanks_count INTEGER ,voteup_count INTEGER ,comment_count INTEGER
        ,created_time BIGINT comment '动作产生的时间',created BIGINT
        , PRIMARY KEY (id),CONSTRAINT type_targetId UNIQUE (actionType,question_id,answer_id,article_id))
        DEFAULT CHARSET = utf8,
        ENGINE = InnoDB;
    </update>

    <insert id="insertVoteup" parameterType="wuxian.me.zhihuspider.model.VoteupModel">
        insert into ${tableName} (actionType,answer_id,question_id,article_id
        ,authorUrl,title,thanks_count,voteup_count,comment_count
        ,created_time,created)
        values (#{actionType},#{answer_id},#{question_id},#{article_id}
        ,#{authorUrl},#{title},#{thanks_count},#{voteup_count},#{comment_count}
        ,#{created_time},unix_timestamp());
    </insert>

</mapper>