<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="wuxian.me.lianjiaspider.mapper.LoupanMapper">

    <delete id="deleteTable" parameterType="wuxian.me.lianjiaspider.model.Loupan">
        drop table if exists ${tableName}
    </delete>

    <update id="createNewTableIfNeed" parameterType="wuxian.me.lianjiaspider.model.Loupan">
        create table if not exists ${tableName} (loupan_id VARCHAR(24)
        ,name VARCHAR(16),district VARCHAR(8), location VARCHAR(32),hushu VARCHAR(16)
        ,size_min INT,size_max INT,advantage VARCHAR(24),attribute VARCHAR(24)
        ,price INTEGER ,PRIMARY KEY (loupan_id))
        DEFAULT CHARSET = utf8,
        ENGINE = InnoDB;
    </update>

    <update id="createIndex" parameterType="wuxian.me.lianjiaspider.model.Loupan">
    </update>

    <insert id="insertLoupan" parameterType="wuxian.me.lianjiaspider.model.Loupan">
        insert into ${tableName} (loupan_id,name,district,location,hushu,size_min,size_max,advantage,attribute,price)
         values (#{loupanId},#{name},#{district}
        ,#{location},#{hushu},#{sizeMin},#{sizeMax},#{advantage}
        ,#{attribute},#{price});
    </insert>


    <select id="loadLoupan" resultType="wuxian.me.lianjiaspider.model.Loupan">
        select * from ${tableName} where loupan_id = #{loupanId}
    </select>

</mapper>