<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="wuxian.me.lianjiaspider.mapper.NewQuDetailMapper">

    <delete id="deleteTable" parameterType="wuxian.me.lianjiaspider.model.touming.NewquDetail">
        drop table if exists ${tableName}
    </delete>

    <update id="createNewTableIfNeed" parameterType="wuxian.me.lianjiaspider.model.touming.NewquDetail">
        create table if not exists ${tableName} (qu_id BIGINT,name VARCHAR(16),tuiguang_name VARCHAR(32), lantitude
        VARCHAR(10)
        ,longitude VARCHAR(10),status TINYINT comment '0:待售 1在售 2尾盘 3售完', location VARCHAR(40)
        ,huxing_min SMALLINT ,huxing_max SMALLINT ,wuye_type VARCHAR(8),jianzhu_type VARCHAR(8)
        ,newly_kaipan BIGINT,kaifashang VARCHAR(24),dongtai VARCHAR(512),yushou VARCHAR(96)
        ,rongjilv VARCHAR(8),lvhualv SMALLINT ,zhuangxiu VARCHAR(16),zhandi INTEGER ,jianzhu INTEGER comment '建筑面积'
        ,jungong_time BIGINT,jiaofu_time VARCHAR(16) ,hushu INTEGER,chewei INTEGER ,wuye_company VARCHAR(24)
        ,wuye_fee VARCHAR(8),chanquan SMALLINT,other VARCHAR(512),created BIGINT,updated BIGINT
        ,PRIMARY KEY (qu_id))
        DEFAULT CHARSET = utf8,
        ENGINE = InnoDB;
    </update>

    <update id="createIndex" parameterType="wuxian.me.lianjiaspider.model.touming.NewquDetail">

    </update>

    <insert id="insertNewQuDetail" parameterType="wuxian.me.lianjiaspider.model.touming.NewquDetail">
        insert into ${tableName} (qu_id,name ,tuiguang_name, lantitude
        ,longitude,status, location,huxing_min,huxing_max ,wuye_type,jianzhu_type
        ,newly_kaipan,kaifashang,dongtai,yushou,rongjilv,lvhualv,zhuangxiu,zhandi,jianzhu
        ,jungong_time,jiaofu_time,hushu,chewei,wuye_company
        ,wuye_fee,chanquan,other,created,updated)
        values (#{quId},#{name},#{tuiguangName},#{lantitude}
        ,#{longitude},#{status}, #{location},#{huxingMin},#{huxingMax} ,#{wuyeType},#{jianzhuType}
        ,#{newlyKaipan},#{kaifashang},#{dongtai},#{yushou},#{rongjilv},#{lvhualv},#{zhuangxiu},#{zhandi},#{jianzhu}
        ,#{jungongTime},#{jiaofuTime},#{hushu},#{chewei},#{wuyeCompany}
        ,#{wuyeFee},#{chanquan},#{other},#{created},#{updated});
    </insert>

    <select id="loadNewQuDetail" resultType="wuxian.me.lianjiaspider.model.touming.NewquDetail">
        select * from ${tableName} where qu_id = #{qu_id}
    </select>

</mapper>