<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="wuxian.me.lianjiaspider.mapper.XiaoquMapper">

    <delete id="deleteTable" parameterType="wuxian.me.lianjiaspider.model.Xiaoqu">
        drop table if exists ${tableName}
    </delete>

    <update id="createNewTableIfNeed" parameterType="wuxian.me.lianjiaspider.model.Xiaoqu">
        create table if not exists ${tableName} (xiaoqu_id BIGINT
        ,name VARCHAR(16),location VARCHAR(16),follower INT,buildTime INT,buildingType VARCHAR(8)
        ,wuyefee VARCHAR(8),wuyeCompany VARCHAR(24),kaifashang VARCHAR(24),buildingNum INT
        ,houseNum INT,longitude VARCHAR(10),lantitude VARCHAR(10),PRIMARY KEY (xiaoqu_id))
        DEFAULT CHARSET = utf8,
        ENGINE = InnoDB;
    </update>

    <update id="createIndex" parameterType="wuxian.me.lianjiaspider.model.Xiaoqu">

    </update>

    <insert id="insertXiaoqu" parameterType="wuxian.me.lianjiaspider.model.Xiaoqu">
        insert into ${tableName} (xiaoqu_id,name,location,follower,buildTime,buildingType,wuyefee,wuyeCompany
        ,kaifashang,buildingNum,houseNum,longitude,lantitude) values (#{xiaoqu_id},#{name},#{location}
        ,#{follower},#{buildTime},#{buildingType},#{wuyefee},#{wuyeCompany}
        ,#{kaifashang},#{buildingNum},#{houseNum},#{longitude},#{lantitude});
    </insert>

    <!--
    <update id="updateXiaoqu" parameterType="wuxian.me.lianjiaspider.model.Xiaoqu">
        update ${tableName} set longitude=#{longitude},lantitude=#{lantitude}
        where company_id=#{company_id}
    </update>
    -->

    <select id="loadXiaoqu" resultType="wuxian.me.lianjiaspider.model.Xiaoqu">
        select * from ${tableName} where xiaoqu_id = #{xiaoqu_id}
    </select>

</mapper>