<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="wuxian.me.lianjiaspider.mapper.XiaoquSellMapper">

    <delete id="deleteTable" parameterType="wuxian.me.lianjiaspider.model.XiaoquSell">
        drop table if exists ${tableName}
    </delete>

    <update id="createNewTableIfNeed" parameterType="wuxian.me.lianjiaspider.model.XiaoquSell">
        create table if not exists ${tableName} (xiaoqu_id BIGINT,url VARCHAR(128),price INT
        ,priceMonth VARCHAR(3),sellTao INT,chengjiaoTime VARCHAR(4),chengjiaoTao INT
        ,rentTao INT,PRIMARY KEY (xiaoqu_id))
        DEFAULT CHARSET = utf8,
        ENGINE = InnoDB;
    </update>

    <update id="createIndex" parameterType="wuxian.me.lianjiaspider.model.XiaoquSell">
        CREATE INDEX idx_price ON ${tableName} (price);
        CREATE INDEX idx_sellTao ON ${tableName} (sellTao);
    </update>

    <insert id="insertSell" parameterType="wuxian.me.lianjiaspider.model.XiaoquSell">
        insert into ${tableName} (xiaoqu_id,url,price,priceMonth,sellTao,chengjiaoTime,chengjiaoTao,rentTao)
        values (#{xiaoqu_id},#{url},#{price},#{priceMonth},#{sellTao},#{chengjiaoTime},#{chengjiaoTao},#{rentTao})
        on duplicate key update priceMonth=values(priceMonth),price=values(price);
    </insert>

    <!--
    <update id="updateSell" parameterType="wuxian.me.lianjiaspider.model.XiaoquSell">
        update ${tableName} set longitude=#{longitude},lantitude=#{lantitude}
        where company_id=#{company_id}
    </update>
    -->

    <select id="loadSells" resultType="wuxian.me.lianjiaspider.model.XiaoquSell">
        select * from ${tableName} where xiaoqu_id = #{xiaoqu_id}
    </select>

</mapper>