<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="wuxian.me.v2exspider.mapper.CareerTieziMapper">

    <update id="createNewTableIfNeed" parameterType="wuxian.me.v2exspider.model.BaseTiezi">
        create table if not exists ${tableName} (tiezi_id BIGINT comment 'https://www.v2ex.com/t/'
        ,title VARCHAR(56)
        ,author VARCHAR(24), author_id VARCHAR(24)
        ,latest_response_time BIGINT
        ,reply_num INT
        ,created BIGINT,updated BIGINT, PRIMARY KEY (tiezi_id))
        DEFAULT CHARSET = utf8,
        ENGINE = InnoDB;
    </update>

    <insert id="insertTiezi" parameterType="wuxian.me.v2exspider.model.BaseTiezi">
        insert into ${tableName} (tiezi_id,title, author, author_id,latest_response_time,reply_num,created,updated)
        values (#{id},#{title}, #{author}, #{authorId},#{latestReplyTime},#{replyNum},now(),now());
    </insert>

</mapper>