<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="wuxian.me.doubanspider.mapper.GroupTieziMapper">

    <update id="createNewTableIfNeed" parameterType="wuxian.me.doubanspider.model.GroupTiezi">
        create table if not exists ${tableName} (tiezi_id BIGINT
        ,picture_num SMALLINT,title VARCHAR(56),sex INT,guess_sex VARCHAR(16)
        ,guess_price INT,guess_prices VARCHAR(48)
        ,shi_num SMALLINT ,ting_num SMALLINT ,wei_num SMALLINT ,chaoxiang VARCHAR(4)
        ,louceng SMALLINT
        ,content VARCHAR(1024),reply_content VARCHAR(1024)
        ,selfreply_num SMALLINT ,otherreply_num SMALLINT
        ,author VARCHAR(24), author_id VARCHAR(24)
        ,guess_wechat VARCHAR(16)
        ,guess_phone VARCHAR(16)
        ,fu TINYINT
        ,ya TINYINT
        ,post_time BIGINT
        ,created BIGINT,updated BIGINT, PRIMARY KEY (tiezi_id))
        DEFAULT CHARSET = utf8,
        ENGINE = InnoDB;
    </update>

    <insert id="insertTiezi" parameterType="wuxian.me.doubanspider.model.GroupTiezi">
        insert into ${tableName} (tiezi_id,title, author, author_id,post_time
        ,picture_num,selfreply_num,otherreply_num,guess_prices,guess_price
        ,guess_wechat,guess_phone ,content,reply_content,created,updated,shi_num
        ,ting_num,wei_num,chaoxiang,louceng,sex,guess_sex,ya,fu)
        values (#{id},#{title}, #{author}, #{authorId},#{postTime}
        ,#{pictureNum},#{selfReplyNum},#{otherReplyNum},#{guessPrices},#{guessPrice}
        ,#{guessWechat},#{guessPhone} ,#{content},#{replyContent},#{created},#{updated}
        ,#{shiNum}
        ,#{tingNum},#{weiNum},#{chaoxiang},#{louceng},#{sex},#{guessSex},#{ya},#{fu});
    </insert>

</mapper>